@model TestApp.Models.Ducani

@{
    ViewData["Title"] = "NoviDucan";
}

<h1>View</h1>

<h4>Ducani</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DodajNoviDucan" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="NazivDucana" class="control-label"></label>
                <input asp-for="NazivDucana" class="form-control" />
                <span asp-validation-for="NazivDucana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdresaDucana" class="control-label"></label>
                <input asp-for="AdresaDucana" class="form-control" />
                <span asp-validation-for="AdresaDucana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Napravi novi ducan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Natrag na popis ducana</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
