@{
    ViewData["Title"] = "Dodaj Stavku u Skladište";
    var dostupneStavke = ViewData["DostupneStavke"] as IEnumerable<TestApp.Models.NovaStavka>;
}

<h2>Dodaj Stavku u Skladište</h2>

<form asp-action="Add" method="post">
    <input type="hidden" name="IdSkladista" value="1" />
    <input type="hidden" name="NazivSkladista" value="Skladiste1" />
    <div class="form-group">
        <label for="stavkaDropdown">Odaberite Stavku</label>
        <select class="form-control" id="stavkaDropdown" name="IdStavke" required>
            <option value="" disabled selected>Odaberi stavku</option> <!-- Prazna vrijednost za opciju -->
            @if (dostupneStavke != null && dostupneStavke.Any())
                @foreach (var stavka in (IEnumerable<TestApp.Models.NovaStavka>)ViewData["DostupneStavke"])
                {
                    <option value="@stavka.IdStavke">@stavka.Naziv</option>
                }
            
            else
            {
                <option disabled>Nema dostupnih stavki</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="KolicinaStavaka">Količina Stavaka</label>
        <input type="number" class="form-control" id="KolicinaStavaka" name="KolicinaStavaka" required>
    </div>

    <button type="submit" class="btn btn-success">Dodaj</button>
</form>